.ourBest__section {
  background-image: url('../../../img/ourcoffee-background.jpg');
  background-size: cover;
  min-height: 495px;
  padding: 80px 15px;
  text-align: center;
}

.card-wrap{
  text-decoration: none;
}

.ourBest__h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

.ourBest__cards {
  max-width: 900px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  column-gap: 10px;
  row-gap: 10px;
}