.nav-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
}

.app__nav {
  max-width: 280px;

  ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    li {
      position: relative;
    }
  }

  a {
    text-decoration: none;
    color: #ffff;
    font-size: 12px;
    transition: all 0.3s ease-out;
    ;

    &:hover {
      opacity: 0.5;
    }
  }

  .logo__nav {
    position: relative;
    top: 10px;
  }
}